<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <proxies>
        <proxy>
            <id>proxyvip</id>
            <active>false</active> <!-- Cambiado a true si necesitas un proxy -->
            <protocol>http</protocol>
            <host>proxyvip.igrupobbva</host>
            <port>8080</port>
            <username>test</username>
            <password>test</password>
            <nonProxyHosts>*.igrupobbva</nonProxyHosts>
        </proxy>
    </proxies>
	<localRepository>M2_REPO</localRepository>
    <servers>
        <server>
            <id>aso</id>
            <username>andresfelipe.buitrago.gualter</username>
            <password>${ARTIFACTORY_TOKEN}</password>
        </server>
        <server>
            <id>apx</id>
            <username>andresfelipe.buitrago.gualter</username>
            <password>${ARTIFACTORY_TOKEN}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>globalprof</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>aso</id>
                    <url>https://globaldevtools.bbva.com/artifactory-api/aso-arq-virtual</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>apx</id>
                    <url>https://globaldevtools.bbva.com/artifactory-api/repository-apx-dev</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>aso</id>
                    <url>https://artifactory.globaldevtools.bbva.com/artifactory/common-aso-maven-virtual</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>apx</id>
                    <url>https://globaldevtools.bbva.com/artifactory-api/repository-apx-dev</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>globalprof</activeProfile>
    </activeProfiles>
</settings>
