#%RAML 1.0
title: Risk Admissions
version: v0.50.0
description: !include docs/apiDescription.md
baseUri: https://www.bbvaapis.com/risk-admissions/v0

uses:
  annotations: ../glapi-global-apis-commons-commons/annotations/annotationsLibrary.raml
  pagination: ../glapi-global-apis-commons-commons/types/pagination.raml
  annotations: ../glapi-global-apis-commons-commons/annotations/annotationsLibrary.raml
  calculate-incomes.post.request.body: types/calculate-incomes/post/request/body.raml
  calculate-incomes.post.request.body.person.identityDocument: types/calculate-incomes/post/request/body.person.identityDocument.raml
  calculate-incomes.post.request.body.person.laboralInformation: types/calculate-incomes/post/request/body.person.laboralInformation.raml
  calculate-incomes.post.request.body.person: types/calculate-incomes/post/request/body.person.raml
  calculate-incomes.post.request.body.informationSources: types/calculate-incomes/post/request/body.informationSources.raml
  calculate-incomes.post.request.body.product: types/calculate-incomes/post/request/body.product.raml
  calculate-incomes.post.response.200.data.person.identityDocument: types/calculate-incomes/post/response/200/data.person.identityDocument.raml
  calculate-incomes.post.response.200.data.person: types/calculate-incomes/post/response/200/data.person.raml
  calculate-incomes.post.response.200.data.informationSources: types/calculate-incomes/post/response/200/data.informationSources.raml
  calculate-incomes.post.response.200.data.totalIncomes: types/calculate-incomes/post/response/200/data.totalIncomes.raml
  calculate-incomes.post.response.200.data.totalDeductions: types/calculate-incomes/post/response/200/data.totalDeductions.raml
  calculate-incomes.post.response.200.data.employers.employerInfo.identityDocument: types/calculate-incomes/post/response/200/data.employers.employerInfo.identityDocument.raml
  calculate-incomes.post.response.200.data.employers.employerInfo.economicActivity: types/calculate-incomes/post/response/200/data.employers.employerInfo.economicActivity.raml
  calculate-incomes.post.response.200.data.employers.employerInfo: types/calculate-incomes/post/response/200/data.employers.employerInfo.raml
  calculate-incomes.post.response.200.data.employers.participantInformation.seniority.period: types/calculate-incomes/post/response/200/data.employers.participantInformation.seniority.period.raml
  calculate-incomes.post.response.200.data.employers.participantInformation.seniority: types/calculate-incomes/post/response/200/data.employers.participantInformation.seniority.raml
  calculate-incomes.post.response.200.data.employers.participantInformation.incomes.incomeAmount: types/calculate-incomes/post/response/200/data.employers.participantInformation.incomes.incomeAmount.raml
  calculate-incomes.post.response.200.data.employers.participantInformation.incomes: types/calculate-incomes/post/response/200/data.employers.participantInformation.incomes.raml
  calculate-incomes.post.response.200.data.employers.participantInformation.deduction: types/calculate-incomes/post/response/200/data.employers.participantInformation.deduction.raml
  calculate-incomes.post.response.200.data.employers.participantInformation.employmentSituation: types/calculate-incomes/post/response/200/data.employers.participantInformation.employmentSituation.raml
  calculate-incomes.post.response.200.data.employers.participantInformation: types/calculate-incomes/post/response/200/data.employers.participantInformation.raml
  calculate-incomes.post.response.200.data.employers: types/calculate-incomes/post/response/200/data.employers.raml
  calculate-incomes.post.response.200.data.employmentHistory: types/calculate-incomes/post/response/200/data.employmentHistory.raml
  calculate-incomes.post.response.200.data.status: types/calculate-incomes/post/response/200/data.status.raml
  calculate-incomes.post.response.200.data: types/calculate-incomes/post/response/200/data.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.person.identityDocument: types/calculate-incomes/tasks/task-id/get/response/200/data.result.person.identityDocument.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.person: types/calculate-incomes/tasks/task-id/get/response/200/data.result.person.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.informationSources: types/calculate-incomes/tasks/task-id/get/response/200/data.result.informationSources.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.totalIncomes: types/calculate-incomes/tasks/task-id/get/response/200/data.result.totalIncomes.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.totalDeductions: types/calculate-incomes/tasks/task-id/get/response/200/data.result.totalDeductions.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.employers.employerInfo.identityDocument: types/calculate-incomes/tasks/task-id/get/response/200/data.result.employers.employerInfo.identityDocument.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.employers.employerInfo.economicActivity: types/calculate-incomes/tasks/task-id/get/response/200/data.result.employers.employerInfo.economicActivity.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.employers.employerInfo: types/calculate-incomes/tasks/task-id/get/response/200/data.result.employers.employerInfo.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.employers.participantInformation.seniority.period: types/calculate-incomes/tasks/task-id/get/response/200/data.result.employers.participantInformation.seniority.period.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.employers.participantInformation.seniority: types/calculate-incomes/tasks/task-id/get/response/200/data.result.employers.participantInformation.seniority.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.employers.participantInformation.incomes.incomeAmount: types/calculate-incomes/tasks/task-id/get/response/200/data.result.employers.participantInformation.incomes.incomeAmount.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.employers.participantInformation.incomes: types/calculate-incomes/tasks/task-id/get/response/200/data.result.employers.participantInformation.incomes.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.employers.participantInformation.deduction: types/calculate-incomes/tasks/task-id/get/response/200/data.result.employers.participantInformation.deduction.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.employers.participantInformation.employmentSituation: types/calculate-incomes/tasks/task-id/get/response/200/data.result.employers.participantInformation.employmentSituation.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.employers.participantInformation: types/calculate-incomes/tasks/task-id/get/response/200/data.result.employers.participantInformation.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.employers: types/calculate-incomes/tasks/task-id/get/response/200/data.result.employers.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result.employmentHistory: types/calculate-incomes/tasks/task-id/get/response/200/data.result.employmentHistory.raml
  calculate-incomes.tasks.task-id.get.response.200.data.result: types/calculate-incomes/tasks/task-id/get/response/200/data.result.raml
  calculate-incomes.tasks.task-id.get.response.200.data.status: types/calculate-incomes/tasks/task-id/get/response/200/data.status.raml
  calculate-incomes.tasks.task-id.get.response.200.data.statusDeclaretedIncomes: types/calculate-incomes/tasks/task-id/get/response/200/data.statusDeclaretedIncomes.raml
  calculate-incomes.tasks.task-id.get.response.200.data: types/calculate-incomes/tasks/task-id/get/response/200/data.raml
  check-income.get.response.200.data.customer.identityDocument.documentType: types/check-income/get/response/200/data.customer.identityDocument.documentType.raml
  check-income.get.response.200.data.customer.identityDocument: types/check-income/get/response/200/data.customer.identityDocument.raml
  check-income.get.response.200.data.customer: types/check-income/get/response/200/data.customer.raml
  check-income.get.response.200.data.workPlaces.taxpayer.documentType: types/check-income/get/response/200/data.workPlaces.taxpayer.documentType.raml
  check-income.get.response.200.data.workPlaces.taxpayer: types/check-income/get/response/200/data.workPlaces.taxpayer.raml
  check-income.get.response.200.data.workPlaces.employmentSituation: types/check-income/get/response/200/data.workPlaces.employmentSituation.raml
  check-income.get.response.200.data.workPlaces.economicActivity: types/check-income/get/response/200/data.workPlaces.economicActivity.raml
  check-income.get.response.200.data.workPlaces.liabilities.liabilityType.liabilityAmount: types/check-income/get/response/200/data.workPlaces.liabilities.liabilityType.liabilityAmount.raml
  check-income.get.response.200.data.workPlaces.liabilities.liabilityType: types/check-income/get/response/200/data.workPlaces.liabilities.liabilityType.raml
  check-income.get.response.200.data.workPlaces.liabilities: types/check-income/get/response/200/data.workPlaces.liabilities.raml
  check-income.get.response.200.data.workPlaces.taxpayerType: types/check-income/get/response/200/data.workPlaces.taxpayerType.raml
  check-income.get.response.200.data.workPlaces.novelty: types/check-income/get/response/200/data.workPlaces.novelty.raml
  check-income.get.response.200.data.workPlaces.form.code: types/check-income/get/response/200/data.workPlaces.form.code.raml
  check-income.get.response.200.data.workPlaces.form.contributor: types/check-income/get/response/200/data.workPlaces.form.contributor.raml
  check-income.get.response.200.data.workPlaces.form: types/check-income/get/response/200/data.workPlaces.form.raml
  check-income.get.response.200.data.workPlaces.incomes.income.incomeAmount: types/check-income/get/response/200/data.workPlaces.incomes.income.incomeAmount.raml
  check-income.get.response.200.data.workPlaces.incomes.income: types/check-income/get/response/200/data.workPlaces.incomes.income.raml
  check-income.get.response.200.data.workPlaces.incomes: types/check-income/get/response/200/data.workPlaces.incomes.raml
  check-income.get.response.200.data.workPlaces: types/check-income/get/response/200/data.workPlaces.raml
  check-income.get.response.200.data: types/check-income/get/response/200/data.raml
  check-income.search.post.request.body: types/check-income/search/post/request/body.raml
  check-income.search.post.request.body.identityDocument.documentType: types/check-income/search/post/request/body.identityDocument.documentType.raml
  check-income.search.post.request.body.identityDocument: types/check-income/search/post/request/body.identityDocument.raml
  check-income.search.post.response.200.data.status: types/check-income/search/post/response/200/data.status.raml
  check-income.search.post.response.200.data: types/check-income/search/post/response/200/data.raml
  credit-evaluations.post.request.body: types/credit-evaluations/post/request/body.raml
  credit-evaluations.post.request.body.commercialChannel: types/credit-evaluations/post/request/body.commercialChannel.raml
  credit-evaluations.post.request.body.informationSources: types/credit-evaluations/post/request/body.informationSources.raml
  credit-evaluations.post.request.body.participants.identityDocument: types/credit-evaluations/post/request/body.participants.identityDocument.raml
  credit-evaluations.post.request.body.participants.roleType: types/credit-evaluations/post/request/body.participants.roleType.raml
  credit-evaluations.post.request.body.participants.economicActivity: types/credit-evaluations/post/request/body.participants.economicActivity.raml
  credit-evaluations.post.request.body.participants.customerSeniority.seniorityTimeType: types/credit-evaluations/post/request/body.participants.customerSeniority.seniorityTimeType.raml
  credit-evaluations.post.request.body.participants.customerSeniority: types/credit-evaluations/post/request/body.participants.customerSeniority.raml
  credit-evaluations.post.request.body.participants.gender: types/credit-evaluations/post/request/body.participants.gender.raml
  credit-evaluations.post.request.body.participants.maritalStatus: types/credit-evaluations/post/request/body.participants.maritalStatus.raml
  credit-evaluations.post.request.body.participants.addresses.addressType: types/credit-evaluations/post/request/body.participants.addresses.addressType.raml
  credit-evaluations.post.request.body.participants.addresses.ownershipType: types/credit-evaluations/post/request/body.participants.addresses.ownershipType.raml
  credit-evaluations.post.request.body.participants.addresses.location.state: types/credit-evaluations/post/request/body.participants.addresses.location.state.raml
  credit-evaluations.post.request.body.participants.addresses.location.country: types/credit-evaluations/post/request/body.participants.addresses.location.country.raml
  credit-evaluations.post.request.body.participants.addresses.location.geolocation: types/credit-evaluations/post/request/body.participants.addresses.location.geolocation.raml
  credit-evaluations.post.request.body.participants.addresses.location.foreignCountry: types/credit-evaluations/post/request/body.participants.addresses.location.foreignCountry.raml
  credit-evaluations.post.request.body.participants.addresses.location: types/credit-evaluations/post/request/body.participants.addresses.location.raml
  credit-evaluations.post.request.body.participants.addresses: types/credit-evaluations/post/request/body.participants.addresses.raml
  credit-evaluations.post.request.body.participants.averagePassiveBalance.term: types/credit-evaluations/post/request/body.participants.averagePassiveBalance.term.raml
  credit-evaluations.post.request.body.participants.averagePassiveBalance: types/credit-evaluations/post/request/body.participants.averagePassiveBalance.raml
  credit-evaluations.post.request.body.participants.cashBalance.incomeAmount: types/credit-evaluations/post/request/body.participants.cashBalance.incomeAmount.raml
  credit-evaluations.post.request.body.participants.cashBalance.finalAmount: types/credit-evaluations/post/request/body.participants.cashBalance.finalAmount.raml
  credit-evaluations.post.request.body.participants.cashBalance: types/credit-evaluations/post/request/body.participants.cashBalance.raml
  credit-evaluations.post.request.body.participants.cardCreditLine.totalAmount: types/credit-evaluations/post/request/body.participants.cardCreditLine.totalAmount.raml
  credit-evaluations.post.request.body.participants.cardCreditLine.availableAmount: types/credit-evaluations/post/request/body.participants.cardCreditLine.availableAmount.raml
  credit-evaluations.post.request.body.participants.cardCreditLine: types/credit-evaluations/post/request/body.participants.cardCreditLine.raml
  credit-evaluations.post.request.body.participants.financialSystemClassification.financialSystemClassificationType: types/credit-evaluations/post/request/body.participants.financialSystemClassification.financialSystemClassificationType.raml
  credit-evaluations.post.request.body.participants.financialSystemClassification.debtAmount: types/credit-evaluations/post/request/body.participants.financialSystemClassification.debtAmount.raml
  credit-evaluations.post.request.body.participants.financialSystemClassification: types/credit-evaluations/post/request/body.participants.financialSystemClassification.raml
  credit-evaluations.post.request.body.participants.economicData.quotas.value: types/credit-evaluations/post/request/body.participants.economicData.quotas.value.raml
  credit-evaluations.post.request.body.participants.economicData.quotas: types/credit-evaluations/post/request/body.participants.economicData.quotas.raml
  credit-evaluations.post.request.body.participants.economicData.profession: types/credit-evaluations/post/request/body.participants.economicData.profession.raml
  credit-evaluations.post.request.body.participants.economicData.bankDepositBalance: types/credit-evaluations/post/request/body.participants.economicData.bankDepositBalance.raml
  credit-evaluations.post.request.body.participants.economicData.realEstatesValue: types/credit-evaluations/post/request/body.participants.economicData.realEstatesValue.raml
  credit-evaluations.post.request.body.participants.economicData.habitualResidence.ownsershipType: types/credit-evaluations/post/request/body.participants.economicData.habitualResidence.ownsershipType.raml
  credit-evaluations.post.request.body.participants.economicData.habitualResidence.propertyType: types/credit-evaluations/post/request/body.participants.economicData.habitualResidence.propertyType.raml
  credit-evaluations.post.request.body.participants.economicData.habitualResidence.value: types/credit-evaluations/post/request/body.participants.economicData.habitualResidence.value.raml
  credit-evaluations.post.request.body.participants.economicData.habitualResidence: types/credit-evaluations/post/request/body.participants.economicData.habitualResidence.raml
  credit-evaluations.post.request.body.participants.economicData.premium.value: types/credit-evaluations/post/request/body.participants.economicData.premium.value.raml
  credit-evaluations.post.request.body.participants.economicData.premium: types/credit-evaluations/post/request/body.participants.economicData.premium.raml
  credit-evaluations.post.request.body.participants.economicData.patrimony: types/credit-evaluations/post/request/body.participants.economicData.patrimony.raml
  credit-evaluations.post.request.body.participants.economicData.occupationType: types/credit-evaluations/post/request/body.participants.economicData.occupationType.raml
  credit-evaluations.post.request.body.participants.economicData.employmentSeniority.seniorityTimeType: types/credit-evaluations/post/request/body.participants.economicData.employmentSeniority.seniorityTimeType.raml
  credit-evaluations.post.request.body.participants.economicData.employmentSeniority: types/credit-evaluations/post/request/body.participants.economicData.employmentSeniority.raml
  credit-evaluations.post.request.body.participants.economicData.employmentSituation: types/credit-evaluations/post/request/body.participants.economicData.employmentSituation.raml
  credit-evaluations.post.request.body.participants.economicData.creditData.creditOrigin: types/credit-evaluations/post/request/body.participants.economicData.creditData.creditOrigin.raml
  credit-evaluations.post.request.body.participants.economicData.creditData.creditDestination: types/credit-evaluations/post/request/body.participants.economicData.creditData.creditDestination.raml
  credit-evaluations.post.request.body.participants.economicData.creditData: types/credit-evaluations/post/request/body.participants.economicData.creditData.raml
  credit-evaluations.post.request.body.participants.economicData.valueOfAppraisal: types/credit-evaluations/post/request/body.participants.economicData.valueOfAppraisal.raml
  credit-evaluations.post.request.body.participants.economicData.declaredFixedIncome: types/credit-evaluations/post/request/body.participants.economicData.declaredFixedIncome.raml
  credit-evaluations.post.request.body.participants.economicData.declaredVariableIncome: types/credit-evaluations/post/request/body.participants.economicData.declaredVariableIncome.raml
  credit-evaluations.post.request.body.participants.economicData.incomes.type: types/credit-evaluations/post/request/body.participants.economicData.incomes.type.raml
  credit-evaluations.post.request.body.participants.economicData.incomes.value: types/credit-evaluations/post/request/body.participants.economicData.incomes.value.raml
  credit-evaluations.post.request.body.participants.economicData.incomes: types/credit-evaluations/post/request/body.participants.economicData.incomes.raml
  credit-evaluations.post.request.body.participants.economicData.expenses.type: types/credit-evaluations/post/request/body.participants.economicData.expenses.type.raml
  credit-evaluations.post.request.body.participants.economicData.expenses.value: types/credit-evaluations/post/request/body.participants.economicData.expenses.value.raml
  credit-evaluations.post.request.body.participants.economicData.expenses: types/credit-evaluations/post/request/body.participants.economicData.expenses.raml
  credit-evaluations.post.request.body.participants.economicData.deductions.deductionType: types/credit-evaluations/post/request/body.participants.economicData.deductions.deductionType.raml
  credit-evaluations.post.request.body.participants.economicData.deductions.value: types/credit-evaluations/post/request/body.participants.economicData.deductions.value.raml
  credit-evaluations.post.request.body.participants.economicData.deductions: types/credit-evaluations/post/request/body.participants.economicData.deductions.raml
  credit-evaluations.post.request.body.participants.economicData: types/credit-evaluations/post/request/body.participants.economicData.raml
  credit-evaluations.post.request.body.participants.workPlaces.employmentSituation: types/credit-evaluations/post/request/body.participants.workPlaces.employmentSituation.raml
  credit-evaluations.post.request.body.participants.workPlaces: types/credit-evaluations/post/request/body.participants.workPlaces.raml
  credit-evaluations.post.request.body.participants.nationality: types/credit-evaluations/post/request/body.participants.nationality.raml
  credit-evaluations.post.request.body.participants: types/credit-evaluations/post/request/body.participants.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.scoringType: types/credit-evaluations/post/request/body.products.detailsElements.loan.scoringType.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.evaluationType: types/credit-evaluations/post/request/body.products.detailsElements.loan.evaluationType.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.operationType: types/credit-evaluations/post/request/body.products.detailsElements.loan.operationType.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.partialPunctuations: types/credit-evaluations/post/request/body.products.detailsElements.loan.partialPunctuations.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.mortgage.propertyType: types/credit-evaluations/post/request/body.products.detailsElements.loan.mortgage.propertyType.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.mortgage: types/credit-evaluations/post/request/body.products.detailsElements.loan.mortgage.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.relatedContract.branch: types/credit-evaluations/post/request/body.products.detailsElements.loan.relatedContract.branch.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.relatedContract.relationContractType: types/credit-evaluations/post/request/body.products.detailsElements.loan.relatedContract.relationContractType.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.relatedContract: types/credit-evaluations/post/request/body.products.detailsElements.loan.relatedContract.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.responseCredit.probability: types/credit-evaluations/post/request/body.products.detailsElements.loan.responseCredit.probability.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.responseCredit.quotas.value: types/credit-evaluations/post/request/body.products.detailsElements.loan.responseCredit.quotas.value.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.responseCredit.quotas: types/credit-evaluations/post/request/body.products.detailsElements.loan.responseCredit.quotas.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.responseCredit.consolidated.value: types/credit-evaluations/post/request/body.products.detailsElements.loan.responseCredit.consolidated.value.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.responseCredit.consolidated: types/credit-evaluations/post/request/body.products.detailsElements.loan.responseCredit.consolidated.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.responseCredit.dictums.value: types/credit-evaluations/post/request/body.products.detailsElements.loan.responseCredit.dictums.value.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.responseCredit.dictums: types/credit-evaluations/post/request/body.products.detailsElements.loan.responseCredit.dictums.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.responseCredit: types/credit-evaluations/post/request/body.products.detailsElements.loan.responseCredit.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.minimumAmount: types/credit-evaluations/post/request/body.products.detailsElements.loan.minimumAmount.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.maximumAmount: types/credit-evaluations/post/request/body.products.detailsElements.loan.maximumAmount.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.purchaseValue: types/credit-evaluations/post/request/body.products.detailsElements.loan.purchaseValue.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.purpose: types/credit-evaluations/post/request/body.products.detailsElements.loan.purpose.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.initialAmount: types/credit-evaluations/post/request/body.products.detailsElements.loan.initialAmount.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.term: types/credit-evaluations/post/request/body.products.detailsElements.loan.term.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.installment: types/credit-evaluations/post/request/body.products.detailsElements.loan.installment.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.good.value: types/credit-evaluations/post/request/body.products.detailsElements.loan.good.value.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.good.economicConditions.value: types/credit-evaluations/post/request/body.products.detailsElements.loan.good.economicConditions.value.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.good.economicConditions: types/credit-evaluations/post/request/body.products.detailsElements.loan.good.economicConditions.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.good: types/credit-evaluations/post/request/body.products.detailsElements.loan.good.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.subproduct: types/credit-evaluations/post/request/body.products.detailsElements.loan.subproduct.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.rates: types/credit-evaluations/post/request/body.products.detailsElements.loan.rates.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.capability: types/credit-evaluations/post/request/body.products.detailsElements.loan.capability.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.requestImport: types/credit-evaluations/post/request/body.products.detailsElements.loan.requestImport.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.termCredit: types/credit-evaluations/post/request/body.products.detailsElements.loan.termCredit.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.product.status: types/credit-evaluations/post/request/body.products.detailsElements.loan.product.status.raml
  credit-evaluations.post.request.body.products.detailsElements.loan.product: types/credit-evaluations/post/request/body.products.detailsElements.loan.product.raml
  credit-evaluations.post.request.body.products.detailsElements.loan: types/credit-evaluations/post/request/body.products.detailsElements.loan.raml
  credit-evaluations.post.request.body.products.detailsElements.account.conditions: types/credit-evaluations/post/request/body.products.detailsElements.account.conditions.raml
  credit-evaluations.post.request.body.products.detailsElements.account: types/credit-evaluations/post/request/body.products.detailsElements.account.raml
  credit-evaluations.post.request.body.products.detailsElements.card.cardType: types/credit-evaluations/post/request/body.products.detailsElements.card.cardType.raml
  credit-evaluations.post.request.body.products.detailsElements.card: types/credit-evaluations/post/request/body.products.detailsElements.card.raml
  credit-evaluations.post.request.body.products: types/credit-evaluations/post/request/body.products.raml
  credit-evaluations.post.response.201.data.informationSources: types/credit-evaluations/post/response/201/data.informationSources.raml
  credit-evaluations.post.response.201.data.participants.identityDocument: types/credit-evaluations/post/response/201/data.participants.identityDocument.raml
  credit-evaluations.post.response.201.data.participants.roleType: types/credit-evaluations/post/response/201/data.participants.roleType.raml
  credit-evaluations.post.response.201.data.participants: types/credit-evaluations/post/response/201/data.participants.raml
  credit-evaluations.post.response.201.data.products.detailsElements.loan.partialPunctuations: types/credit-evaluations/post/response/201/data.products.detailsElements.loan.partialPunctuations.raml
  credit-evaluations.post.response.201.data.products.detailsElements.loan.relatedContract.branch: types/credit-evaluations/post/response/201/data.products.detailsElements.loan.relatedContract.branch.raml
  credit-evaluations.post.response.201.data.products.detailsElements.loan.relatedContract.relationContractType: types/credit-evaluations/post/response/201/data.products.detailsElements.loan.relatedContract.relationContractType.raml
  credit-evaluations.post.response.201.data.products.detailsElements.loan.relatedContract: types/credit-evaluations/post/response/201/data.products.detailsElements.loan.relatedContract.raml
  credit-evaluations.post.response.201.data.products.detailsElements.loan: types/credit-evaluations/post/response/201/data.products.detailsElements.loan.raml
  credit-evaluations.post.response.201.data.products.detailsElements.account.conditions: types/credit-evaluations/post/response/201/data.products.detailsElements.account.conditions.raml
  credit-evaluations.post.response.201.data.products.detailsElements.account: types/credit-evaluations/post/response/201/data.products.detailsElements.account.raml
  credit-evaluations.post.response.201.data.products.detailsElements.card.cardType: types/credit-evaluations/post/response/201/data.products.detailsElements.card.cardType.raml
  credit-evaluations.post.response.201.data.products.detailsElements.card: types/credit-evaluations/post/response/201/data.products.detailsElements.card.raml
  credit-evaluations.post.response.201.data.products: types/credit-evaluations/post/response/201/data.products.raml
  credit-evaluations.post.response.201.data.engineControlRiskAssessmentTool: types/credit-evaluations/post/response/201/data.engineControlRiskAssessmentTool.raml
  credit-evaluations.post.response.201.data.engineCalculations.outputData.evaluations.agreementRealInstallmentAmount: types/credit-evaluations/post/response/201/data.engineCalculations.outputData.evaluations.agreementRealInstallmentAmount.raml
  credit-evaluations.post.response.201.data.engineCalculations.outputData.evaluations.owner: types/credit-evaluations/post/response/201/data.engineCalculations.outputData.evaluations.owner.raml
  credit-evaluations.post.response.201.data.engineCalculations.outputData.evaluations: types/credit-evaluations/post/response/201/data.engineCalculations.outputData.evaluations.raml
  credit-evaluations.post.response.201.data.engineCalculations.outputData: types/credit-evaluations/post/response/201/data.engineCalculations.outputData.raml
  credit-evaluations.post.response.201.data.engineCalculations: types/credit-evaluations/post/response/201/data.engineCalculations.raml
  credit-evaluations.post.response.201.data.details.tree.owner: types/credit-evaluations/post/response/201/data.details.tree.owner.raml
  credit-evaluations.post.response.201.data.details.tree.objectDescription.other: types/credit-evaluations/post/response/201/data.details.tree.objectDescription.other.raml
  credit-evaluations.post.response.201.data.details.tree.objectDescription.score.scoreCard.matrices: types/credit-evaluations/post/response/201/data.details.tree.objectDescription.score.scoreCard.matrices.raml
  credit-evaluations.post.response.201.data.details.tree.objectDescription.score.scoreCard: types/credit-evaluations/post/response/201/data.details.tree.objectDescription.score.scoreCard.raml
  credit-evaluations.post.response.201.data.details.tree.objectDescription.score: types/credit-evaluations/post/response/201/data.details.tree.objectDescription.score.raml
  credit-evaluations.post.response.201.data.details.tree.objectDescription.decisionSetter.codes: types/credit-evaluations/post/response/201/data.details.tree.objectDescription.decisionSetter.codes.raml
  credit-evaluations.post.response.201.data.details.tree.objectDescription.decisionSetter: types/credit-evaluations/post/response/201/data.details.tree.objectDescription.decisionSetter.raml
  credit-evaluations.post.response.201.data.details.tree: types/credit-evaluations/post/response/201/data.details.tree.raml
  credit-evaluations.post.response.201.data.details: types/credit-evaluations/post/response/201/data.details.raml
  credit-evaluations.post.response.201.data.status: types/credit-evaluations/post/response/201/data.status.raml
  credit-evaluations.post.response.201.data: types/credit-evaluations/post/response/201/data.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.commercialChannel: types/credit-evaluations/credit-evaluation-id/get/response/200/data.commercialChannel.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.informationSources: types/credit-evaluations/credit-evaluation-id/get/response/200/data.informationSources.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.identityDocument: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.identityDocument.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.roleType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.roleType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicActivity: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicActivity.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.customerSeniority.seniorityTimeType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.customerSeniority.seniorityTimeType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.customerSeniority: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.customerSeniority.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.gender: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.gender.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.nationality: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.nationality.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.maritalStatus: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.maritalStatus.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.addresses.addressType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.addresses.addressType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.addresses.ownershipType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.addresses.ownershipType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.addresses.location.state: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.addresses.location.state.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.addresses.location.country: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.addresses.location.country.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.addresses.location.geolocation: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.addresses.location.geolocation.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.addresses.location.foreignCountry: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.addresses.location.foreignCountry.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.addresses.location: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.addresses.location.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.addresses: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.addresses.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.averagePassiveBalance.term: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.averagePassiveBalance.term.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.averagePassiveBalance: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.averagePassiveBalance.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.cashBalance.incomeAmount: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.cashBalance.incomeAmount.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.cashBalance.finalAmount: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.cashBalance.finalAmount.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.cashBalance: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.cashBalance.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.cardCreditLine.totalAmount: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.cardCreditLine.totalAmount.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.cardCreditLine.availableAmount: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.cardCreditLine.availableAmount.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.cardCreditLine: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.cardCreditLine.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.financialSystemClassification.financialSystemClassificationType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.financialSystemClassification.financialSystemClassificationType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.financialSystemClassification.debtAmount: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.financialSystemClassification.debtAmount.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.financialSystemClassification: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.financialSystemClassification.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.quotas.value: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.quotas.value.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.quotas: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.quotas.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.profession: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.profession.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.bankDepositBalance: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.bankDepositBalance.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.realEstatesValue: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.realEstatesValue.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.habitualResidence.ownsershipType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.habitualResidence.ownsershipType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.habitualResidence.propertyType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.habitualResidence.propertyType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.habitualResidence.value: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.habitualResidence.value.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.habitualResidence: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.habitualResidence.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.premium.value: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.premium.value.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.premium: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.premium.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.patrimony: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.patrimony.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.occupationType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.occupationType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.employmentSeniority.seniorityTimeType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.employmentSeniority.seniorityTimeType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.employmentSeniority: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.employmentSeniority.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.employmentSituation: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.employmentSituation.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.creditData.creditOrigin: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.creditData.creditOrigin.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.creditData.creditDestination: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.creditData.creditDestination.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.creditData: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.creditData.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.valueOfAppraisal: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.valueOfAppraisal.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.declaredFixedIncome: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.declaredFixedIncome.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.declaredVariableIncome: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.declaredVariableIncome.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.incomes.type: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.incomes.type.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.incomes.value: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.incomes.value.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.incomes: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.incomes.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.expenses.type: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.expenses.type.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.expenses.value: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.expenses.value.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.expenses: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.expenses.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.deductions.deductionType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.deductions.deductionType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.deductions.value: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.deductions.value.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData.deductions: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.deductions.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.economicData: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.economicData.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.workPlaces.employmentSituation: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.workPlaces.employmentSituation.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants.workPlaces: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.workPlaces.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.participants: types/credit-evaluations/credit-evaluation-id/get/response/200/data.participants.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.scoringType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.scoringType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.evaluationType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.evaluationType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.operationType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.operationType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.partialPunctuations: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.partialPunctuations.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.mortgage.propertyType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.mortgage.propertyType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.mortgage: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.mortgage.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.relatedContract.branch: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.relatedContract.branch.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.relatedContract.relationContractType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.relatedContract.relationContractType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.relatedContract: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.relatedContract.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.responseCredit.probability: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.responseCredit.probability.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.responseCredit.quota: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.responseCredit.quota.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.responseCredit.consolidated.value: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.responseCredit.consolidated.value.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.responseCredit.consolidated: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.responseCredit.consolidated.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.responseCredit.dictums.value: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.responseCredit.dictums.value.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.responseCredit.dictums: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.responseCredit.dictums.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.responseCredit: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.responseCredit.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.minimumAmount: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.minimumAmount.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.maximumAmount: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.maximumAmount.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.purpose: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.purpose.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.initialAmount: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.initialAmount.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.purchaseValue: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.purchaseValue.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.term: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.term.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.installment: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.installment.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.good.value: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.good.value.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.good.economicConditions.value: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.good.economicConditions.value.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.good.economicConditions: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.good.economicConditions.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.good: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.good.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.rates: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.rates.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.capability: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.capability.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.requestImport: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.requestImport.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.termCredit: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.termCredit.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.product.status: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.product.status.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.product: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.product.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan.subproduct: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.subproduct.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.loan: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.loan.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.account.conditions: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.account.conditions.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.account: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.account.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.card.cardType: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.card.cardType.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products.detailsElements.card: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.detailsElements.card.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.products: types/credit-evaluations/credit-evaluation-id/get/response/200/data.products.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data.status: types/credit-evaluations/credit-evaluation-id/get/response/200/data.status.raml
  credit-evaluations.credit-evaluation-id.get.response.200.data: types/credit-evaluations/credit-evaluation-id/get/response/200/data.raml
  financial-statements.calculations.post.request.body: types/financial-statements/calculations/post/request/body.raml
  financial-statements.calculations.post.request.body.financialStatement.accountingAccounts.amount: types/financial-statements/calculations/post/request/body.financialStatement.accountingAccounts.amount.raml
  financial-statements.calculations.post.request.body.financialStatement.accountingAccounts.accountsCategory.accountsType: types/financial-statements/calculations/post/request/body.financialStatement.accountingAccounts.accountsCategory.accountsType.raml
  financial-statements.calculations.post.request.body.financialStatement.accountingAccounts.accountsCategory.accountGroup: types/financial-statements/calculations/post/request/body.financialStatement.accountingAccounts.accountsCategory.accountGroup.raml
  financial-statements.calculations.post.request.body.financialStatement.accountingAccounts.accountsCategory.accountLevel: types/financial-statements/calculations/post/request/body.financialStatement.accountingAccounts.accountsCategory.accountLevel.raml
  financial-statements.calculations.post.request.body.financialStatement.accountingAccounts.accountsCategory.relatedAccount: types/financial-statements/calculations/post/request/body.financialStatement.accountingAccounts.accountsCategory.relatedAccount.raml
  financial-statements.calculations.post.request.body.financialStatement.accountingAccounts.accountsCategory: types/financial-statements/calculations/post/request/body.financialStatement.accountingAccounts.accountsCategory.raml
  financial-statements.calculations.post.request.body.financialStatement.accountingAccounts: types/financial-statements/calculations/post/request/body.financialStatement.accountingAccounts.raml
  financial-statements.calculations.post.request.body.financialStatement: types/financial-statements/calculations/post/request/body.financialStatement.raml
  financial-statements.calculations.post.request.body.engineControlRiskAssessmentTool: types/financial-statements/calculations/post/request/body.engineControlRiskAssessmentTool.raml
  financial-statements.calculations.post.request.body.ratios.profitability.ebitda.amount: types/financial-statements/calculations/post/request/body.ratios.profitability.ebitda.amount.raml
  financial-statements.calculations.post.request.body.ratios.profitability.ebitda: types/financial-statements/calculations/post/request/body.ratios.profitability.ebitda.raml
  financial-statements.calculations.post.request.body.ratios.profitability.roe: types/financial-statements/calculations/post/request/body.ratios.profitability.roe.raml
  financial-statements.calculations.post.request.body.ratios.profitability.roa: types/financial-statements/calculations/post/request/body.ratios.profitability.roa.raml
  financial-statements.calculations.post.request.body.ratios.profitability.internalFundsToSales: types/financial-statements/calculations/post/request/body.ratios.profitability.internalFundsToSales.raml
  financial-statements.calculations.post.request.body.ratios.profitability: types/financial-statements/calculations/post/request/body.ratios.profitability.raml
  financial-statements.calculations.post.request.body.ratios.activity.averageInventoryTurnover: types/financial-statements/calculations/post/request/body.ratios.activity.averageInventoryTurnover.raml
  financial-statements.calculations.post.request.body.ratios.activity.accountReceivableTurnover: types/financial-statements/calculations/post/request/body.ratios.activity.accountReceivableTurnover.raml
  financial-statements.calculations.post.request.body.ratios.activity.workingCapital.amount: types/financial-statements/calculations/post/request/body.ratios.activity.workingCapital.amount.raml
  financial-statements.calculations.post.request.body.ratios.activity.workingCapital: types/financial-statements/calculations/post/request/body.ratios.activity.workingCapital.raml
  financial-statements.calculations.post.request.body.ratios.activity.averagePaymentPeriod: types/financial-statements/calculations/post/request/body.ratios.activity.averagePaymentPeriod.raml
  financial-statements.calculations.post.request.body.ratios.activity.assetTurnoverVariation: types/financial-statements/calculations/post/request/body.ratios.activity.assetTurnoverVariation.raml
  financial-statements.calculations.post.request.body.ratios.activity.variationOnSales: types/financial-statements/calculations/post/request/body.ratios.activity.variationOnSales.raml
  financial-statements.calculations.post.request.body.ratios.activity.daysOfCashOutstanding: types/financial-statements/calculations/post/request/body.ratios.activity.daysOfCashOutstanding.raml
  financial-statements.calculations.post.request.body.ratios.activity: types/financial-statements/calculations/post/request/body.ratios.activity.raml
  financial-statements.calculations.post.request.body.ratios.investmentCriteria.netPayBack: types/financial-statements/calculations/post/request/body.ratios.investmentCriteria.netPayBack.raml
  financial-statements.calculations.post.request.body.ratios.investmentCriteria: types/financial-statements/calculations/post/request/body.ratios.investmentCriteria.raml
  financial-statements.calculations.post.request.body.ratios.solvency.financingExpensesToSales: types/financial-statements/calculations/post/request/body.ratios.solvency.financingExpensesToSales.raml
  financial-statements.calculations.post.request.body.ratios.solvency.interestCoverageWithEbitda: types/financial-statements/calculations/post/request/body.ratios.solvency.interestCoverageWithEbitda.raml
  financial-statements.calculations.post.request.body.ratios.solvency.netFinancialDebtOverEbitda: types/financial-statements/calculations/post/request/body.ratios.solvency.netFinancialDebtOverEbitda.raml
  financial-statements.calculations.post.request.body.ratios.solvency.interestCoverageWithEbitdaAndProvisions: types/financial-statements/calculations/post/request/body.ratios.solvency.interestCoverageWithEbitdaAndProvisions.raml
  financial-statements.calculations.post.request.body.ratios.solvency.equityToLongTermAssets: types/financial-statements/calculations/post/request/body.ratios.solvency.equityToLongTermAssets.raml
  financial-statements.calculations.post.request.body.ratios.solvency.equityToAssets: types/financial-statements/calculations/post/request/body.ratios.solvency.equityToAssets.raml
  financial-statements.calculations.post.request.body.ratios.solvency.debtToEquity: types/financial-statements/calculations/post/request/body.ratios.solvency.debtToEquity.raml
  financial-statements.calculations.post.request.body.ratios.solvency.debtToAssets: types/financial-statements/calculations/post/request/body.ratios.solvency.debtToAssets.raml
  financial-statements.calculations.post.request.body.ratios.solvency.debtToIncome: types/financial-statements/calculations/post/request/body.ratios.solvency.debtToIncome.raml
  financial-statements.calculations.post.request.body.ratios.solvency: types/financial-statements/calculations/post/request/body.ratios.solvency.raml
  financial-statements.calculations.post.request.body.ratios.changeOfScale.assets: types/financial-statements/calculations/post/request/body.ratios.changeOfScale.assets.raml
  financial-statements.calculations.post.request.body.ratios.changeOfScale.sales: types/financial-statements/calculations/post/request/body.ratios.changeOfScale.sales.raml
  financial-statements.calculations.post.request.body.ratios.changeOfScale: types/financial-statements/calculations/post/request/body.ratios.changeOfScale.raml
  financial-statements.calculations.post.request.body.ratios.liquidity.acidTest: types/financial-statements/calculations/post/request/body.ratios.liquidity.acidTest.raml
  financial-statements.calculations.post.request.body.ratios.liquidity.cashConversionCycle: types/financial-statements/calculations/post/request/body.ratios.liquidity.cashConversionCycle.raml
  financial-statements.calculations.post.request.body.ratios.liquidity.current: types/financial-statements/calculations/post/request/body.ratios.liquidity.current.raml
  financial-statements.calculations.post.request.body.ratios.liquidity.operatingCycle: types/financial-statements/calculations/post/request/body.ratios.liquidity.operatingCycle.raml
  financial-statements.calculations.post.request.body.ratios.liquidity: types/financial-statements/calculations/post/request/body.ratios.liquidity.raml
  financial-statements.calculations.post.request.body.ratios.specificRatioMagnitudes.ratioDetail.valueRatio.value: types/financial-statements/calculations/post/request/body.ratios.specificRatioMagnitudes.ratioDetail.valueRatio.value.raml
  financial-statements.calculations.post.request.body.ratios.specificRatioMagnitudes.ratioDetail.valueRatio: types/financial-statements/calculations/post/request/body.ratios.specificRatioMagnitudes.ratioDetail.valueRatio.raml
  financial-statements.calculations.post.request.body.ratios.specificRatioMagnitudes.ratioDetail.percentageRatio: types/financial-statements/calculations/post/request/body.ratios.specificRatioMagnitudes.ratioDetail.percentageRatio.raml
  financial-statements.calculations.post.request.body.ratios.specificRatioMagnitudes: types/financial-statements/calculations/post/request/body.ratios.specificRatioMagnitudes.raml
  financial-statements.calculations.post.request.body.ratios: types/financial-statements/calculations/post/request/body.ratios.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.stage: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.stage.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.business: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.business.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.visitReports: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.visitReports.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.status: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.status.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.certification: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.certification.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.period.periodType: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.period.periodType.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.period: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.period.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.accountingAccounts.amount: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.accountingAccounts.amount.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.accountingAccounts.accountsCategory.accountsType: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.accountingAccounts.accountsCategory.accountsType.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.accountingAccounts.accountsCategory.accountGroup: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.accountingAccounts.accountsCategory.accountGroup.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.accountingAccounts.accountsCategory.accountLevel: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.accountingAccounts.accountsCategory.accountLevel.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.accountingAccounts.accountsCategory: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.accountingAccounts.accountsCategory.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.accountingAccounts: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.accountingAccounts.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.profitability.ebitda.amount: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.profitability.ebitda.amount.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.profitability.ebitda: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.profitability.ebitda.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.profitability.roe: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.profitability.roe.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.profitability.roa: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.profitability.roa.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.profitability.internalFundsToSales: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.profitability.internalFundsToSales.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.profitability: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.profitability.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.averageInventoryTurnover: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.averageInventoryTurnover.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.accountReceivableTurnover: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.accountReceivableTurnover.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.workingCapital.amount: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.workingCapital.amount.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.workingCapital: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.workingCapital.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.averagePaymentPeriod: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.averagePaymentPeriod.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.assetTurnoverVariation: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.assetTurnoverVariation.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.variationOnSales: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.variationOnSales.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.daysOfCashOutstanding: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.daysOfCashOutstanding.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.activity: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.activity.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.investmentCriteria.netPayBack: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.investmentCriteria.netPayBack.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.investmentCriteria: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.investmentCriteria.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.financingExpensesToSales: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.financingExpensesToSales.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.interestCoverageWithEbitda: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.interestCoverageWithEbitda.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.netFinancialDebtOverEbitda: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.netFinancialDebtOverEbitda.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.equityToLongTermAssets: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.equityToLongTermAssets.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.equityToAssets: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.equityToAssets.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.debtToEquity: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.debtToEquity.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.debtToAssets: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.debtToAssets.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.debtToIncome: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.debtToIncome.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.solvency.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.changeOfScale.assets: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.changeOfScale.assets.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.changeOfScale.sales: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.changeOfScale.sales.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.changeOfScale: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.changeOfScale.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.liquidity.acidTest: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.liquidity.acidTest.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.liquidity.cashConversionCycle: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.liquidity.cashConversionCycle.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.liquidity.current: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.liquidity.current.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.liquidity.operatingCycle: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.liquidity.operatingCycle.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios.liquidity: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.liquidity.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements.ratios: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.ratios.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialStatements: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialStatements.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.roleType: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.roleType.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.fixedAssets: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.fixedAssets.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.economicActivityClass.group: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.economicActivityClass.group.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.economicActivityClass: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.economicActivityClass.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.fastTrackEligibility.behavioralDefaultProbability: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.fastTrackEligibility.behavioralDefaultProbability.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.fastTrackEligibility.riskGroup: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.fastTrackEligibility.riskGroup.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.fastTrackEligibility: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.fastTrackEligibility.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.qualitativeBlocks.qualitativeVariables: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.qualitativeBlocks.qualitativeVariables.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.qualitativeBlocks: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.qualitativeBlocks.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialInformation.tracking.period: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialInformation.tracking.period.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialInformation.tracking: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialInformation.tracking.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialInformation.sectors.obligationAmounts.amount: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialInformation.sectors.obligationAmounts.amount.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialInformation.sectors.obligationAmounts: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialInformation.sectors.obligationAmounts.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialInformation.sectors.obligationsValues.period: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialInformation.sectors.obligationsValues.period.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialInformation.sectors.obligationsValues: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialInformation.sectors.obligationsValues.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialInformation.sectors.punctuations.debtParcialAmount: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialInformation.sectors.punctuations.debtParcialAmount.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialInformation.sectors.punctuations.qualification: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialInformation.sectors.punctuations.qualification.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialInformation.sectors.punctuations: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialInformation.sectors.punctuations.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialInformation.sectors: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialInformation.sectors.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel.financialInformation: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.financialInformation.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantInputModel: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantInputModel.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.proposalInputModel.products.requestedAmountShortTerm: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.proposalInputModel.products.requestedAmountShortTerm.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.proposalInputModel.products.requestedAmountLongTerm: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.proposalInputModel.products.requestedAmountLongTerm.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.proposalInputModel.products.longTermAnnualDebt: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.proposalInputModel.products.longTermAnnualDebt.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.proposalInputModel.products: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.proposalInputModel.products.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.proposalInputModel.guarantees.guaranteeAmount: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.proposalInputModel.guarantees.guaranteeAmount.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.proposalInputModel.guarantees.coverageAmount: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.proposalInputModel.guarantees.coverageAmount.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.proposalInputModel.guarantees: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.proposalInputModel.guarantees.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.proposalInputModel: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.proposalInputModel.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantOutputModel.business: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantOutputModel.business.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantOutputModel.fastTrackEligibility: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantOutputModel.fastTrackEligibility.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantOutputModel.capitalNeeded: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantOutputModel.capitalNeeded.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantOutputModel.workingCapitalLimit: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantOutputModel.workingCapitalLimit.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantOutputModel.availableBenefit: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantOutputModel.availableBenefit.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.participantOutputModel: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.participantOutputModel.raml
  risk-engine-credit-evaluations.risk-engine-credit-evaluations-id.local-evaluations.post.request.body.details.detailsElements.proposalOutputModel.products.installments: types/risk-engine-credit-evaluations/risk-engine-credit-evaluations-id/local-evaluations/post/request/body.details.detailsElements.proposalOutputModel.products.installments.raml
[...]
